<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>USort</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>

  <h1 class="title">
    USort!
  </h1>
  <p class="subtitle">
    With USort, the sort is you!
  </p>

  <section>
    <p>
      Enter your list to be sorted. See examples below.
    </p>
    <textarea placeholder="Item 1Item 2"></textarea>
    <div>
      <button>One item per line</button>
      <button>Split items on blank lines</button>
      <button>Split items based on indent</button>
    </div>
  </section>
  <section>
    <h2>Item preview</h2>
    <div>Item 1</div>
    <div>Item 2</div>
  </section>
  </body>
</html>
